.card {
  display: inline-block;
  border: 1px solid black;
  min-width: 25%;
  max-width: 50%;
  text-align: center;
  padding: 1em 0.3em;
}

#word-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.prohibed-words {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 1.2em;
}
.prohibed-works-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4em;
  margin: 1.2em 0.1em;
}
